*.obj
*.pch
*.dll

*.lib
*.exe
*.opendb
*.db
*.db-wal
*.db-shm
*.suo
*.tlog
*.pdb
*.idb
*.ilk
*.ipch
*.log
*.res
*.user
*.aps
/.vs
*.recipe
/p1/Debug
/p10/Debug
/p2/Debug
/p3/Debug
/p4/Debug
/p5/Debug
/p6/Debug
/p8/Debug
/p9/Debug
/p4/DebugU
/p1/Release
/p10/Release
/p2/Release
/p3/Release
/p4/Release
/p5/Release
/p6/Release
/p8/Release
/p9/Release
/p5/DebugU
/p6/p6___Win32_Debug_Unicode
/p6/p6___Win32_Release_Unicode
/p5/ReleaseU
/p4/ReleaseU
